/* 通用设置 */
body {
    font-family: "Noto Sans TC", sans-serif; /* 使用正黑體 */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header 部分 */
header {
    background-image: url('skyline.jpg'); /* 背景图片 */
    background-size: cover;/* 确保背景图片覆盖整个 header 区域 */
    background-position: center; /* 图片在 header 区域居中 */
    background-repeat: no-repeat; /* 防止背景图片重复 */
    color: black;/* 将字体颜色设置为黑色 */
    text-align: center;
    padding: 60px;/* 增加 padding 以使内容与边界有间隔 */
}

.header-content {
    background-color: rgba(255, 255, 255, 0.3); /* 白色背景，透明度 30% */
    padding: 20px;
    border-radius: 10px; /* 圆角边框（可选） */
    display: inline-block; /* 使背景颜色仅包裹文本 */
    max-width: 80%; /* 限制背景颜色的最大宽度（可选） */
    margin: 0 auto; /* 使背景居中显示（可选） */
    overflow: hidden; /* 清除浮动影响，确保容器高度包含浮动元素 */
    text-align: center; /* 确保内容靠中对齐 */
}

.profile-pic {
    float: left; /* 使头像靠左对齐 */
    width: 120px; /* 设置固定宽度 */
    height: 120px; /* 设置固定高度 */
    border-radius: 50%; /* 圆形头像 */
    object-fit: cover; /* 保持图片比例并裁剪超出部分 */
    border: 2px solid #ddd; /* 设置边框（可选） */
    margin-right: 20px; /* 添加右边距，以便文字与头像之间有间隔 */
}

.title {
    font-size: 2.5em; /* 增大字体 */
    margin-top: 10px;
    text-align: center; /* 置中标题 */
}

/* 联系方式样式 */
.contact-info {
    text-align: right; /* 联系方式齐头靠右 */
}

/* Description 部分 */
.description {
    padding: 20px;
    text-align: center;
}

/* Form 部分 */
.form-section {
    background-color: #FFE4E1; /* 浅肤色背景 */
    padding: 20px;
    border-radius: 10px; /* 圆角边框 */
    margin: 20px auto; /* 在页面中居中显示 */
    max-width: 80%; /* 限制表单部分的最大宽度 */
    text-align: left; /* 文本靠左对齐 */
}

.form-title {
    font-size: 1.5em; /* 调整标题大小 */
    margin-bottom: 20px; /* 增加标题下方的间距 */
    font-weight: bold;
    color: #333; /* 调整标题颜色 */
}
    
form {
    display: inline-block;
    max-width: 600px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: left;
}

label {
    display: block;
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.2em;
    text-align: left;
}

input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-top: 5px;
    border: none; /* 去掉边框 */
    border-bottom: 2px solid #ccc; /* 添加底部边线 */
    border-radius: 0;
}

input[type="text"]:focus {
    border-bottom: 2px solid #007bff; /* 聚焦时底部边线变色 */
    outline: none; /* 去掉默认聚焦轮廓 */
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Required标记样式 */
.required {
    color: red; /* 设置必填标记颜色为红色 */
    font-size: 1em; /* 设置字体大小 */
}
    
/* Thank You 部分 */
.thank-you-message {
    padding: 20px;
    text-align: center;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.hidden {
    display: none;
}
